// colors
$body: #fbffc1; //#cccccc;
$header: #ca4a00; //#69140E;
$gridPortrait: #ff3535; //#00a44a;
$infoBorder: rgb(71,46,0);
$tintColor: rgb(0,0,0);

//borders
$componentBorder: 5px double white;

//imgs
$headerImg: url(../img/3859499_citrus.jpg); //url(../img/3859499.jpg);